button {
    height: 40px;
    width: 90px;
    cursor: pointer;
    border: none;
    background-color: #222;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}